<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
		<div class="main-body">
			<h1>Blog with Node js, Express, Ejs, mongodb</h1>
		</div>
</body>
</html>